.article

  &__title
    margin 20px 0 50px

  &__delete-btn
    background-color #f04124
    margin-top -40px
    &:hover
      background-color #e01114

  &__comments-btn
    background-color #444
    &:hover
      background-color #385c7b

  &__text
    margin 10px 0
    text-align justify
    text-indent 1.5em
