font-size = 24px

body
  margin 0
  font font-size Arial, sans-serif
  background-color #fff

.header
  background-color #000
  color #fff
  margin-bottom 20px
  @media (min-width $screen-sm)
    margin-bottom 22px
  @media (min-width $screen-md)
    margin-bottom 24px
  @media (min-width $screen-lg)
    margin-bottom 26px

.title
  //margin-top 0

.switcher
  line-height 120px
  text-align right

.language
  vertical-align middle
  padding-right 6px
  @media (min-width $screen-sm)
    padding-right 8px
  @media (min-width $screen-md)
    padding-right 10px

.language:last-child
  padding-right 0

.row
  outline: 1px solid red

.user
  font-size 18px
  text-align center
  @media (min-width $screen-sm)
    text-align right

  &__input
    margin-right 6px
  &__label
    padding 0 6px
