.pagination
  margin 20px auto 10px
  padding-top 17px
  padding-bottom 3px
  @media (min-width $screen_sm)
    padding-top 16px
    padding-bottom 10px

  &__list
    text-align center
    list-style none
    margin 16px 0
    padding 0

  &__page
    display inline-block
    margin-right 9px
    min-width 30px
    text-align center
    position relative
    background-color #444
    @media (min-width $screen_sm)
      min-width 40px
      margin-right 12px

  &__link
    display block
    color #fff
    text-decoration none
    font-size 16px
    line-height 30px
    @media (min-width $screen_sm)
      font-size 18px
      line-height 40px

    &_disable
      cursor default
      opacity .7

  &__link:hover
    background-color #385c7b

  &__link_active:hover
    background-color #444
    cursor default
